name: 02 - Swap App Service slots using Azure CLI

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: infra

jobs:
  swap:
    runs-on: ubuntu-latest

    env:
      TF_CLOUD_ORGANIZATION: ${{ secrets.TF_CLOUD_ORGANIZATION }}
      TF_WORKSPACE: ${{ secrets.TF_WORKSPACE }}

    permissions: 
      id-token: write
  
    steps:
      - uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}

      - name: Swap WebApp
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az webapp deployment slot swap -g ${{ secrets.RG_NAME }} -n ${{ secrets.APP_NAME }} -s staging

      - name: Set-up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_wrapper: false
          terraform_version: 1.5.7
      
      - name: Terraform Apply
        run: | 
          terraform init
          currentActiveApp=$(terraform output -raw active_app)
          [[ "$currentActiveApp" == 'green' ]] && newActiveApp="blue" || newActiveApp="green"
          echo "Swapping from $currentActiveApp to $newActiveApp..."
          terraform apply -auto-approve -var active_app=$newActiveApp
