name: 03 - Destroy Azure resources with Terraform

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: infra

jobs:
  destroy:
    runs-on: ubuntu-latest

    env:
      TF_CLOUD_ORGANIZATION: ${{ secrets.TF_CLOUD_ORGANIZATION }}
      TF_WORKSPACE: ${{ secrets.TF_WORKSPACE }}

    permissions:
      actions: write
      id-token: write
      
    steps:
      - uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}

      - name: Set-up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_wrapper: false
          terraform_version: 1.5.7

      - name: Terraform Destroy
        run: |
          terraform init
          terraform destroy -auto-approve

      - name: Update GitHub secrets
        run: |
          gh secret delete APP_NAME
          gh secret delete RG_NAME
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
